{% extends "admin.html" %}

{% block content %}
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>{{Title}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Basic</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
                <div class="animated fadeIn">

        
                                            <div class="col-lg-10">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <strong>Apartment</strong> Details
                                                    </div>
													<form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                                    <div class="card-body card-block">
                                                        
														
															<div class="row form-group">
                                                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Apartment Number</label></div>
                                                                <div class="col-12 col-md-9"><input type="number" id="apartno" name="apartno" placeholder="Number" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                                            </div>
                                                            
                                                            <div class="row form-group">
                                                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Apartment Name</label></div>
                                                                <div class="col-12 col-md-9"><input type="text" id="apartname" name="apartname" placeholder="Name" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                                            </div>

                                                            <div class="row form-group">
                                                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Location</label></div>
                                                                    <div class="col-12 col-md-9"><input type="text" id="location" name="location" placeholder="Text" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                                            </div>

                                                            <div class="row form-group">
                                                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Rent/Month</label></div>
                                                                    <div class="col-12 col-md-9"><input type="number" id="price" name="price" placeholder="Text" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                                            </div>
													
															<div class="row form-group">
                                                                    <div class="col col-md-3"><label for="select" class=" form-control-label">Beds</label></div>
                                                                    <div class="col-12 col-md-9">
                                                                        <select name="bed" id="bed" class="form-control">
                                                                            <option value="0">Select the no. of Beds</option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="row form-group">
                                                                        <div class="col col-md-3"><label for="select" class=" form-control-label">Bath</label></div>
                                                                        <div class="col-12 col-md-9">
                                                                            <select name="bath" id="bath" class="form-control">
                                                                                <option value="0">Select the no. of Bathrooms</option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                    
                                            
                                                                <div class="row form-group">
                                                                    <div class="col col-md-3"><label for="select" class=" form-control-label">Apartment Floor</label></div>
                                                                    <div class="col-12 col-md-9">
                                                                        <select name="floor" id="floor" class="form-control">
                                                                            <option value="0">Select the Floor</option>
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                            
                                                                
                                                                
                                                                
                                                               
                                                    
                                                        
                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="submit" class="btn btn-primary btn-sm">
                                                            <i class="fa fa-dot-circle-o"></i> Submit
                                                        </button>
                                                        <button type="reset" class="btn btn-danger btn-sm">
                                                            <i class="fa fa-ban"></i> Reset
                                                        </button>
                                                    </div>
													</form>
                                                </div>
                                                
                                            </div>

                                            
                                               

                                    </div><!-- .content -->
                                </div><!-- /#right-panel -->
                                <!-- Right Panel -->


                            {% endblock %}