{% extends "admin.html" %}

{% block content %}

 <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-10">
                <div class="page-header float-center">
                    <div class="page-title">
                        <h1>{{Title}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Forms</a></li>
                            <li class="active">Basic</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
                <div class="animated fadeIn">
				
				<div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Apartment</strong> Details
                        </div>
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="card-body card-block">



								<div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Number</label></div>
                                    <div class="col-12 col-md-9"><input type="number" id="number" name="number" placeholder="Apartment Number" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                </div>


                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Name</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="name" name="name" placeholder="Apartment Name" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                </div>
                                


                           </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Submit
                                </button>
                                <button type="reset" class="btn btn-danger btn-sm">
                                    <i class="fa fa-ban"></i> Reset
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
				
				
				
				
				
				
				
		
                                    </div><!-- .content -->
                                </div><!-- /#right-panel -->
                                <!-- Right Panel -->
{% endblock %}