<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sufee Admin - HTML5 Admin Template</title>
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">


        <link rel="stylesheet" type="text/css" href="/static/vendors/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/vendors/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/vendors/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" type="text/css" href="/static/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" type="text/css" href="/static/vendors/selectFX/css/cs-skin-elastic.css">

        <link rel="stylesheet" type="text/css" href="/static/content/style.css" />

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



    </head>

    <body class="bg-dark">

        
        
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="images/logo.png" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form method="post">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" name="Username" placeholder="Username">
                        </div>
                        <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                                
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                                <div class="register-link m-t-15 text-center">
                                    <p><a href="index"> Back to Home Page</a></p>
                                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <script src="/static/vendors/jquery/dist/jquery.min.js"></script>
        <script src="/static/vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="/static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/main.js"></script>

    </body>
</html>



