{% extends "layout.html" %}

{% block content %}

<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/static/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10">
                <h1 class="mb-2">Search our Properties</h1>
            </div>
        </div>
    </div>
</div>

<div class="site-section site-section-sm pb-0">
    <div class="container">
        <div class="row">
            <form class="form-search col-md-12" style="margin-top: -100px;">
                <div class="row  align-items-end">

                </div>
            </form>
        </div>
    </div>
</div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
                        <div class="site-section-title">
                        </div>
                        <p><a href="#" class="btn btn-outline-primary rounded-2 py-3 px-5">Buy</a></p>
                    </div>
                    <div class="col-md-5 ml-auto" data-aos="fade-up" data-aos-delay="200">
                        <div class="site-section-title">
                        </div>
                        <p><a href="#" class="btn btn-outline-primary rounded-2 py-3 px-5">Rent</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div id='Buy'>
		<div class="row form-group">
                                    <div class="col col-md-5" align="center"><label for="text-input" class=" form-control-label" >Location</label></div>
                                    <div class="col-12 col-md-5"><input type="text" id="location" name="location" placeholder="Text" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                </div>
            
        </div>
		





        {% endblock %}
